<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidsystem.dao.ISpecialistMapper">
	<!--更据项目查专家 -->
	<select id="selectByPro" resultType="Specialist">
		SELECT * FROM specialist
		WHERE id
		IN(SELECT specialistId FROM relation WHERE projectId = 1)
	</select>

	<!-- 导出 -->
	<select id="getAll" resultType="Specialist">
		select * from specialist
	</select>

	<!-- 导出选中 -->
	<select id="getById" resultType="Specialist">
		select * from specialist where id in
		<foreach collection="array" item="id" separator="," open="("
			close=")">
			#{id}
		</foreach>
	</select>

	<!-- 条件查询 -->
	<select id="Listselect" resultType="Specialist">
		select * from specialist
		where 1=1
		<choose>
			<when test="type == '专家姓名'">
				and name like "%"#{name}"%"
			</when>
			<when test="type == '身份证'">
				and identityCard like CONCAT ('%',#{name},'%')
			</when>
			<when test="type == '联系电话'">
				and mobile like CONCAT ('%',#{name},'%')
			</when>
			<otherwise>
				and 2=2
			</otherwise>
		</choose>
	</select>
	<!-- 删除 -->
	<delete id="iddelete" parameterType="int">
		delete from specialist
		where id in
		<foreach item="ids" collection="array" open="(" separator=","
			close=")">
			#{ids}
		</foreach>

	</delete>
	<select id="Listsele1" resultType="Specialist">
		select * from specialist
	</select>
</mapper>